<% provide(:title, "Home") %>
<div class="center jumbotron">
  <% if logged_in? %>
    <div class="row">
      <aside class="col-md-3">
        <section class="stats">
          <%= render "shared/stats" %>
        </section>
      </aside>
      <div class="col-md-9 middle">
        <div class="btn-block">
          <%= link_to "Lessons", categories_path, class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  <% else %>
    <h1>Framgia E-Learning System</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
